<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  Options +FollowSymLinks -Indexes

  # RewriteCond %{HTTP_HOST} ^www.pwl-amikom.rhcloud.com [NC]
  # RewriteRule (.*) https://pwl-amikom.rhcloud.com/$1 [L,R=301]

  # RewriteCond %{REQUEST_FILENAME} !-d
  # RewriteRule ^(.+)/$ /$1 [L,R=301]

  RewriteCond %{REQUEST_URI} ^build.*
  RewriteRule ^(.*)$ /index.php/$1 [L]

  RewriteCond %{REQUEST_URI} ^app.*
  RewriteRule ^(.*)$ /index.php/$1 [L]

  RewriteCond $1 !^(index\.php|assets|pictures|robots\.txt)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>

<IfModule mod_headers.c>
  Header set X-XSS-Protection "1; mode=block"
</IfModule>